

html, body {
	font-family: Helvetica, Arial, sans-serif;
	background-color: #eeeeee;
	font-size: 62.5%;
}

p {
	margin: 10px;
	font-weight: bold;
	font-size: 1rem;
}

p:hover{
	line-height: 10px;
}

section {
	margin-bottom: 10px;
	border-style: solid;
	border-radius: 10px;
	font-size: 2rem;

}

section:hover{
	background-color: aqua;
}

ul {
	list-style: none;
	font-size: 1.5rem;

}

#fade{
	display: none;
	font-size: 100pt;
}
